//*** VARIABLES ***//

//Colors
$bg_light: #FDFDFD;
$txt_black: #000000;
$txt_white: #FFFFFF;
$border: #7C7C7C;
$main_color : #520072;
//Fonts
$font_title: "Pacifico";
$font_txt: "Caveat";
//Size
$size_h1: 36px;
$size_title: 28px;
$title_modal: 20px;
$title_todo: 16px;
$txt_todo: 12px;
$round: 25px;


//*** GENERAL ***//
* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 100%;
    min-height: 100dvh;
    position: relative;
    & header {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main_color;
        & h1 {
            font-size: $size_h1;
            font-weight: 700;
            color: $txt_white;
            font-family: $font_title;
        }
    }
    & main {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}


//*** MODAL ***//
dialog {
    display: flex;
    z-index: 1;
    height: 200px;
    width: 33%;
    flex-direction: column;
    position: relative;
    top: 33%;
    left: 33%;
    align-items: center;
    border-radius: $round;
    box-shadow: 0px 4px 8px $border;
    padding: 10px;
    #close {
        position: absolute;
        right: 17px;
        color: $main_color;
        font-size: $title_todo;
        font-weight: 700;
        &:hover {
            cursor: pointer;
        }
    }
    .txtmodal {
        display: flex;
        text-align: center;
        color: $main_color;
        font-size: $title_modal;
        font-weight: 600;
        margin-top: 35px;
    }
    form {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        .titletodo {
            height: 25px;
            border: solid 1px $main_color;
            font-size: $title_todo;
            &:focus {
                outline: none; //enleve la bordure système
                border: solid 3px $main_color;
            }
        }
        #addlist {
            width: 30%;
            min-width: 65px;
            height: 30px;
            align-self: center;
            font-size: $title_todo;
            border: none;
            border-radius: $round;
            margin: 25px;
        }
    }
}
::backdrop {
    background-color: $main_color;
    opacity: 0.5;
}
.not-required {
    color: $txt_black;
    background-color: $border;
}
.required {
    color: $txt_white;
    background-color: $main_color;
}

//*** SECTION ADD LIST ***//
.heroheader {
    width: 85%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $border;
    margin-bottom: 10px;
    & h2 {
        color: $main_color;
        font-size: $size_title;
        margin-bottom: 30px;
    }
    & i {
        font-size: $size_title;
        color: $main_color;
        transition: transform 500ms;
        &:hover {
            cursor: pointer;
            transform: scale(1.30);
        }
    }
}



//*** SECTION TODOLIST ***//
.todolist {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    gap: 10px;
}

article {
    width: 300px;
    min-height: 150px;
    border-radius: 25px;
    box-shadow: 0px 2px 5px $border;
    margin: 10px;
    padding : 15px 8px 10px 8px;
    & .fa-trash-can {
        position: relative;
        left: 270px;
        font-size: $title_todo;
        color: red;
        cursor: pointer;
        // margin: 5px;
    }
    & h3 {
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & input {
        width: 100%;
        font-family: $font_title;
        font-size: $title_todo;
        text-align: center;
        margin-left: 8px;
        }
        & #modiftitle {
            font-size: $title_todo;
            margin: 5px;
        }
    }
    & form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 20px 0;
        & input {
            width : 70%;
            height: 22px;
            font-size: $txt_todo;
        }
        & #addtask {
            width: 25%;
            font-size: $txt_todo;
            color: $txt_white;
            background-color: $main_color;
            border-radius: 25px;
            padding: 8px;
        }
    }
    & ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}

li {
    width: 100%;
    display: flex;
    flex-direction: row;
    & input {
        width: 15px;
        height: 15px;
        color: $main_color;
    }
    & p {
        font-size: $txt_todo;
    }
    & .fa-regular .fa-pen-to-square {
        font-size: $txt_todo;
        margin: 5px;
    }
    & .fa-trash-can {
        font-size: $txt_todo;
        color: red;
    }
}