@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  min-height: 100dvh;
  position: relative;
}
body header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #520072;
}
body header h1 {
  font-size: 36px;
  font-weight: 700;
  color: #FFFFFF;
  font-family: "Pacifico";
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dialog {
  display: flex;
  z-index: 1;
  height: 200px;
  width: 33%;
  flex-direction: column;
  position: relative;
  top: 33%;
  left: 33%;
  align-items: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 6px 10px #520072;
  padding: 10px;
}
dialog #close {
  position: absolute;
  right: 17px;
  color: #520072;
  font-size: 22px;
  font-weight: 700;
}
dialog #close:hover {
  cursor: pointer;
}
dialog .txtmodal {
  display: flex;
  text-align: center;
  color: #520072;
  font-size: 20px;
  font-weight: 600;
  margin-top: 35px;
}
dialog form {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
dialog form .titletodo {
  height: 25px;
  border: solid 1px #520072;
  font-size: 22px;
  border-radius: 5px;
}
dialog form .titletodo:focus {
  outline: none;
  border: solid 2px #520072;
}
dialog form #addList {
  width: 30%;
  min-width: 65px;
  height: 30px;
  margin-top: 20px;
  align-self: center;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  margin: 25px;
  transition: transform 500ms;
}
dialog form #addList:hover {
  cursor: pointer;
  transform: scale(1.2);
}

::backdrop {
  background-color: #520072;
  opacity: 0.4;
}

.not-required {
  color: #000000;
  background-color: #7C7C7C;
}

.required {
  color: #FFFFFF;
  background-color: #520072;
}

.heroheader {
  width: 85%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #7C7C7C;
  margin-bottom: 10px;
}
.heroheader h2 {
  color: #520072;
  font-size: 28px;
  margin-bottom: 30px;
}
.heroheader i {
  font-size: 28px;
  color: #520072;
  transition: transform 500ms;
}
.heroheader i:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.todolist {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  gap: 10px;
}

article {
  width: 300px;
  min-height: 150px;
  border-radius: 25px;
  box-shadow: 0px 2px 5px #7C7C7C;
  margin: 10px;
  padding: 15px 8px 10px 8px;
}
article #deleteList {
  position: relative;
  left: 270px;
  font-size: 16px;
  color: red;
  cursor: pointer;
}
article h3 {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-top: 8px;
}
article form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 20px 0;
}
article form #nameTask {
  width: 70%;
  height: 22px;
  font-size: 16px;
  border-radius: 5px;
}
article form #nameTask:focus {
  outline: none;
  border: solid 2px #520072;
}
article form #addTask {
  width: 25%;
  height: 26px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #520072;
  border: none;
  border-radius: 25px;
  transition: transform 500ms;
}
article form #addTask:hover {
  cursor: pointer;
  transform: scale(1.1);
}
article ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
}
article ul li {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
article ul li #check {
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 1px #520072;
  display: flex;
  justify-content: center;
  align-items: center;
}
article ul li #check:hover {
  cursor: pointer;
}
article ul li #check::after {
  font-family: "Font Family 6 Free";
  content: "✓";
  font-weight: 900;
  font-size: 14px;
  color: #FFFFFF;
  display: none;
}
article ul li #check:checked {
  background-color: #520072;
}
article ul li #check:checked::after {
  display: block;
}
article ul li label {
  width: 70%;
  font-size: 16px;
  margin-left: 8px;
}
article ul li label .checked {
  text-decoration: line-through;
}
article ul li #deleteTask {
  font-size: 12px;
  color: red;
}
article ul li #deleteTask:hover {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */